.project-detail-page {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #252525;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-detail-image {
    width: 60%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .project-content{
    position: relative;
    left:
  }
  
  @media (max-width: 768px) {
    .project-detail-image {
      width: 80%;
    }
    .project-detail-page {
      padding: 1rem;
    }
  }